    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>LORENA ORELLANA</h2>
              <br/>
                <p> Educadora Diferencial titulada de la Pontificia Universidad Católica de Valparaíso.</p>
                <p> Amplia experiencia en Chile. </p>
                <p>16 años de experiencia docente en el extranjero - Alemania y Bélgica.</p>
                <p>Idiomas: alemán, neerlandés (nivel avanzado - C1),  inglés (nivel básico) .</p>
                <p>Experiencia herramientas para E-learning: ZOOM, Microsoft Teams, Moodle, SmartSchool.</p>
                <p>Experiencia en todos los niveles del sistema educativo: niños, adolescentes y adultos. </p>
                <br/>
              </div>
        </div>
    </section>
