    <!-- Antecedentes Profesionales Section -->
    <section id="ante" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Trayectoria Profesional</h2>
              <br/>
                <p> Integrante del equipo directivo y psicopedagoga en el colegio Franco-Inglés de Viña del Mar.</p>
                <p> Profesora de español en el colegio Maria Montessori en Freiberg/Sajonia Alemania.</p>
                <p> Profesora de español en la TU Bergakademie Freiberg/Sajonia Alemania.</p>
                                <p> Profesora de español en los institutos de adultos CVO y LBC en Bélgica.</p>
                <br/>
              </div>
        </div>
    </section>
