    <!-- Antecedentes Profesionales Section -->
    <section id="tarifas" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Tarifas</h2>
              <br/>
                <p style="font-size:18px"> 15 mil pesos por hora de clase.</p>
                <p style="font-size:18px"> Valores variables de acuerdo a la frecuencia y modalidad programada.</p>
                <p style="font-size:18px"> Sistema de pago con boleta de servicios.</p>
                <br/>
              </div>
        </div>
    </section>
